.flex{
  height:100%;
  display:flex;
  flex-flow:column;
}
.content{
  flex:1;
  display:flex;
  flex-flow:column;
  width:100%;
}
.box {
  flex:1;
  display:flex;
  flex-flow:column;
}
.box .box-body{
  flex:1;
  display:flex;
  flex-flow:column;
}
.tb{
  flex:1;
  display:flex;
  flex-flow:column;
}
