.flex{
  display:flex;
  height:100%;
  flex-flow:column;
  overflow-y: auto;
}
.content {
  width:100%;
  flex:1;
  display:flex;
  flex-flow:column;
}
.content .box {
  flex:1;
  display:flex;
  flex-flow:column;
}
.content .box .box-body{
  flex:1;
  display:flex;
  flex-flow:column;
}
.box .box-body .row {
  flex:1;
}
